<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500|Nunito+Sans&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>module-4.1</title>
</head>
<body> 

    <header class="headline container clearfix"  id="main">       
        <a href="#" class="site_logo">
            <img src="/img/logo.png" alt="site logo">
        </a>
        <nav class="site_menu clearfix">
            <ul class="menu">
                <li class="menu_item"><a class="menu_link" href="#">home</a></li>
                <li class="menu_item"><a class="menu_link" href="#about">about</a></li>
                <li class="menu_item"><a class="menu_link" href="#contact">contact</a></li>
            </ul>
        </nav>
    </header>
<main>
    <section class="banner_section">
        <div class="container">
        <h2 class="banner_title">Amelia Woods</h2>
        <p class="banner_subtitle">I am a Graphic & Web Designer based in New York, specializing<br>
            in User Interface Design and Development.
        </p>
    </div>
    </section>   

    <section class="advantages_section">
        <div class="container">
        <ul class="advantages clearfix">
            <li class="advantages_items icon_bag">
                <p class="quantity">548</p>
                <p class="advantages_name">projects completed</p>
            </li>
             <li class="advantages_items icon_cloak">
                <p class="quantity">1465</p>
                <p class="advantages_name">projects completed</p>
            </li>
             <li class="advantages_items icon_star">
                <p class="quantity">612</p>
                <p class="advantages_name">projects completed</p>
            </li>
             <li class="advantages_items icon_like">
                <p class="quantity">735</p>
                <p class="advantages_name">projects completed</p>
            </li>
        </ul>
    </div>
    </section>

    <section class="about_section" id="about">
    <div class="container clearfix">
        <div class="wrap_img">
            
        </div>
        <div class="wrap_about">
            <h2 class="about_title">About me</h2>
            <p class="about_subtitle">Given let waters air sea had you'll, may seed abundantly fish. 
                    Were, you'll earth forth winged above brought. Own darkness 
                    they're him can't fourth sea place have.</p>
            <p class="atoud_dec">So the above May stars cattle fruitful face shall. Tree it, winged. 
                    Every signs male firmament us. Morning him.</p>
            <img src="/img/signature.png" alt="signature" class="signature">
        </div>
    </div>
    </section>

    <section class="project_section container">
        <h2 class="project_title">Need a Project?</h2>
        <p class="project_subtitle">Let us know what you're looking for in an agency. We'll take a look and see 
                if this could be the start of something beautiful.</p>
        <button class="talk_button">let`s talk</button>
    </section>
</main>

<footer class="footer" id="contact">
    <div class="container clearfix">
        <div class="wrap_copy">
            <h3 class="copy_title">Piroll Design, Inc.</h3>
            <p class="copy_subtitle"> <span>&copy;</span> 2017 Piroll. All rights reserved.
                    Designed by robirurk.</p>
        </div>
        <div class="wrap_contact">
            <p class="mail">hello@pirolltheme.com</p>
            <p class="phone">+44 987 065 908 </p>
        </div>

        <div class="wrap_menu">
            <ul class="menu_project">
                <li class="project_item"><a href="#" class="project_link">Projects</a></li>
                <li class="project_item"><a href="#" class="project_link">About</a></li>
                <li class="project_item"><a href="#" class="project_link">Services</a></li>
                <li class="project_item"><a href="#" class="project_link">Carreer</a></li>
            </ul>
        </div>

        <div class="wrap_news">
            <ul class="menu_news">
                <li class="news_item"><a href="#" class="news_item">News</a></li>
                <li class="news_item"><a href="#" class="news_item">Events</a></li>
                <li class="news_item"><a href="#" class="news_item">Contact</a></li>
                <li class="news_item"><a href="#" class="news_item">Legals</a></li>
            </ul>
        </div>
        
        <div class="wrap_soc">
            <ul class="soc_menu">
                <li class="soc_item"><a href="#" class="soc_linl">Facebook</a></li>
                <li class="soc_item"><a href="#" class="soc_linl">Twitter</a></li>
                <li class="soc_item"><a href="#" class="soc_linl">Instagram</a></li>
                <li class="soc_item"><a href="#" class="soc_linl">Dribbble</a></li>
            </ul>
        </div>
    </div>
</footer>
     <!-- <a href="#main" class="home"></a> -->
</body>
</html>