<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <title>module-5.1</title>
</head>
<body> 
    <header class="headline">
    <div class="bg_wrap">
        <div class="container">
            <div class="inner">
                <a href="#" class="site_logo">logo</a>
                <nav class="site_menu">
                    <ul class="menu">
                        <li class="menu_item"><a class="menu_link" href="#">star</a></li>
                        <li class="menu_item"><a class="menu_link" href="#">about me</a></li>
                        <li class="menu_item"><a class="menu_link" href="#">work</a></li>
                        <li class="menu_item"><a class="menu_link" href="#">contact</a></li>
                 </ul>
                </nav>
            </div>
        <h1 class="main_title">May I introduce myself?</h1>
        <p class="main_subtitle">Frontend Design | UI/UX Design</p>
        <button class="go_butto">go head</button>
    </div>
    </div>
    </header>
    <section class="futeres_section container">
        <h2 class="futeres_title">RAPHAEL LECHNER</h2>
        <p class="futeres_subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
        <ul class="futeres_list">
            <li class="futeres_item icon_pen">
                <h3 class="futeres_item_title">Sketching is fun</h3>
                <p class="futeres_item_subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, </p>
            </li>
             <li class="futeres_item icon_design">
                <h3 class="futeres_item_title">Design afterwards</h3>
                <p class="futeres_item_subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, </p>
            </li>
             <li class="futeres_item icon_finalize">
                <h3 class="futeres_item_title">Finalize</h3>
                <p class="futeres_item_subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, </p>
            </li>
        </ul>
    </section>

    <section class="photo_section container">
        <ul class="photo_list">

            <li class="photo_item">
                <div class="photo_wrap">
                    <img src="#" alt="photo">
                </div>
            </li>   
            
            <li class="photo_item">
                <div class="photo_wrap">
                    <img src="#" alt="photo">
                </div>
            </li>  
            
            <li class="photo_item">
                <div class="photo_wrap">
                    <img src="#" alt="photo">
                </div>
            </li>  
            
            <li class="photo_item">
                <div class="photo_wrap">
                    <img src="#" alt="photo">
                </div>
            </li>  

        </ul>
        <button class="button_more">view more</button>
    </section>

    <section class="form_section container">       
        <h2 class="form_section_title">Get in touch!</h2>
        <form class="contact_form" action="#" method="GET">                    
            <div class="form_inner">
                <input type="text" class="user_name" name="user_name" id="user_name_id" placeholder="Your Name*" required
                    autocomplete="off">
                <input type="email"  class="user_email" name="user_email" id="user_email_id" placeholder="Your E-mail*" required
                    autocomplete="off">
            </div>
            <textarea name="email_massage" class="textarea" minlength="4" maxlength="500" placeholder="How can I help you?*"
                required></textarea>
        </form>
    </section>

    <footer class="footer">
        <div class="container">

            <div class="icon_wrap">
                <ul class="footer_icon_list">
                    <li class="footer_icon_item twitter"></li>
                    <li class="footer_icon_item dribbble"></li>
                    <li class="footer_icon_item Facebook"></li>
                </ul>
            </div>
            <div class="content_wrap">
                <p class="copy"> <span>&copy;</span> Raphael Lechner</p>
                <p class="dec">Imprint</p>
            </div>
        </div>
    </footer>
</body>
</html>