<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Web Development Project</title>
</head>
<body>

    <header id="header" class="header">
        <nav class="navigation">
            <div class="container navigation__container">
                <a href="#" class="logo">Your logo</a>
                <ul class="menu">
                    <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
                    <li class="menu__item"><a href="#about" class="menu__link">About</a></li>
                    <li class="menu__item"><a href="#services" class="menu__link">Servicing</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Portfolio</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Contact us</a></li>
                    <li class="menu__item"><button class="menu__link serch_button"></button> </li>
                </ul>
            </div>
        </nav>
            <div class="container main_page">
                <h1 class="header__title">Web development project</h1>
                <p class="header__subtitle">Very suitable to support all web development projects</p>
            </div>
            <div class="button_wrap">
                <a href="#" class="button_services header__button">our services</a>
                <a href="#" class="button_hire header__button">hire is now</a>
            </div>
            <a href="#about" class="button_down"></a>
    </header>

    <section id="about" class="about">
        <div class="container">
            <h2 class="about__title">About Us</h2>
            <p class="about__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
            <ul class="features__list">
                <li class="features__item icon_globe">
                    <h3 class="features__title">Awesome Icons</h3>
                    <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d</p>
                </li>
                <li class="features__item icon_transfer">
                    <h3 class="features__title">One Page</h3>
                    <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d</p>
                </li>
                <li class="features__item icon_head">
                    <h3 class="features__title">Fully Responsive</h3>
                    <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d</p>
                </li>
            </ul>
        </div>
    </section>

    <section id="services" class="servivces">
        <div class="container">
            <h2 class="services__title">Our Services</h2>
            <p class="services__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <ul class="services__list">
                <li class="services__item">
                    <h3 class="services_item_title">Research</h3>
                    <p class="services_item_desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                    <button class="services_item_button">read more</button>
                </li>
            </ul>

        </div>
    </section>


    <script src="js/main.js"></script>
</body>
</html>