/* specefication */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbo"].visually-hidden,
input[type="radio"].visually-hidden {
    /* position: absolute; */

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* progress bar */
.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: tomato;
    z-index: 9999;
}

/*tool bar*/
::-webkit-scrollbar {
  width: 4px;
  display: block;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    
}

::-webkit-scrollbar-thumb {
  background: tomato; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: gold; 
}


/* header */
.header {
    padding-bottom: 72px;
    background-image: url(../img/header_image1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.navigation {
    padding-top: 46px;
    padding-bottom: 52px;
    background-color: #ffffff;
    margin-bottom: 196px;
}

.navigation__container {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {}

.menu__item:not(:last-child) {
    margin-right: 40px;
}

.menu__link {
    font-weight: 600;
    font-size: 20px;
}

.logo,
.menu__link {
    text-decoration: none;
    color: #212121;
    font-family: 'Open Sans';
}

.logo {
    font-weight: 700;
    font-size: 25px;
}

.serch_button {
    background-image: url(../img/icon/icon_serch.png);
    width: 19px;
    height: 19px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__title,
.header__subtitle {
    text-align: center;
    margin: 0;
}

.header__title {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 36px;
}

.header__subtitle {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 110px;
}

.button_wrap {
    display: flex;
    justify-content: center;
}

.header__button {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 20px;
    width: 220px;
    padding: 22px 0;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 100px;
}

.header__button:not(:last-child) {
    margin-right: 30px;
}

.header__button:hover {
    background-color: #00897b;
    border: none;
}

.button_down {
    display: block;
    width: 23px;
    height: 15px;
    background-image: url(../img/icon/icon_down.png);
    margin: 0 auto;
}

/* section about    */
.about {
    padding-top: 128px;
    padding-bottom: 128px;
}

.about__title,
.about__subtitle {
    margin: 0;
    text-align: center;
    color: #212121;
}

.about__title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 34px;
}

.about__subtitle {
    margin: 0 auto;
    width: 622px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 126px;
}

.features__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.features__item {
    width: 270px;
    text-align: center;
}

.features__item::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 30px;
}

.icon_globe::before {
    background-image: url(../img/icon/icon_globe.png);
}

.icon_transfer::before {
    background-image: url(../img/icon/icon_transfer.png);
}

.icon_head::before {
    background-image: url(../img/icon/icon_head.png);
}

.features__title,
.features__desc {
    margin: 0;
}

.features__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 26px;
}

.features__desc {
    font-size: 15px;
}

/* section services */
.servivces {
    padding-top: 174px;
    padding-bottom: 126px;
    background-color: #e4fdf9;
}

.services__title,
.services__subtitle {
    margin: 0;
    text-align: center;
}

.services__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.services__subtitle {
    margin: 0 auto;
    width: 622px;
    font-size: 15px;
    margin-bottom: 114px;
}

.services__list {
    margin: 0;
    padding: 0;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
}



.services__item {
    flex: 0 0 370px;
    padding: 0 50px;
    padding-top: 114px;
    padding-bottom: 50px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.services__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 32px;
}

.services__item::before {
    content: '';
    display: block;
    width: 56px;
    height: 62px;
    background-image: url(../img/icon/icon_smartphone.png);
    margin: 0 auto;
    margin-bottom: 36px;
}

.services__item:hover {
    color: #fff;
    background-color: #00897b;
    box-shadow: 0 0 10px 1px #212121;
}

.services_item_title,
.services_item_desc {
    margin: 0;
}

.services_item_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 22px;
}

.services_item_desc {
    font-size: 15px;
    margin-bottom: 44px;
}

.services_item_button {
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: 2px solid #212121;
    padding: 16px 0;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
}

.services__item:hover .services_item_button {
    border: 2px solid #fff;
    color: #fff;
}

.services__item:hover .services__item::before {
    background-image: url(../img/icon/icon_smartphone_white.png);
}

/* section portfolio */
.portfolio {
    padding-top: 100px;
    padding-bottom: 136px;
}

.portfolio__title,
.portfolio__subtitle {
    margin: 0;
    text-align: center;
}

.portfolio__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 34px;
}

.portfolio__subtitle {
    margin: 0 auto;
    width: 622px;
    font-size: 15px;
    margin-bottom: 118px;
}

.portfolio__button {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.button__list:not(:last-child) {
    margin-right: 20px;
}

.button__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #5c5c5c;
    padding: 14px 22px;
    border: 2px solid #00897b;
    transition: all 0.2s ease-in-out;
}

.button__list:hover .button__link {
    color: #fff;
    background-color: #00897b;
}

.portfolio_list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio__item {
    position: relative;
    margin-bottom: 30px;
}

.portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.photo_wrap {
    width: 370px;
    height: 370px;
    background-color: teal;
}

.hidden_wrap {
    width: 370px;
    height: 370px;
    position: absolute;
    top: 0;
    padding-top: 152px;
    background-color: rgba(73, 73, 73, 0.329);
    display: none;
}

.desc_wrap {
    text-align: center;
}

.portfolio__item:hover .hidden_wrap {
    display: block;
    box-shadow: 0 0 10px 2px #393939;
}

.hidden_title,
.hidden_subtitle {
    margin: 0;
    color: #fff;
}

.hidden_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
}

.hidden_subtitle {
    font-size: 14px;
    text-transform: uppercase;
}

.view_button {
    display: block;
    margin: 0 auto;
    width: 218px;
    background-color: #00897b;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
    border: none;
}

.view_button:hover {
    box-shadow: 0 0 10px 2px #393939;
    color: #393939;
    border-radius: 4px;
}

/* section pricing */
.pricing {
    background-color: #f0f1f1;
    padding-top: 130px;
    padding-bottom: 100px;
}

.pricing_title,
.pricing_subtitle {
    margin: 0;
    text-align: center;
}

.pricing_title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.pricing_subtitle {
    margin: 0 auto;
    width: 622px;
    margin-bottom: 124px;
    font-size: 15px;
}

.pricing__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing__item {
    width: 370px;
    background-color: #fff;
    padding-bottom: 50px;
}

.pricing__desc {
    width: 370px;
    height: 209px;
    background-color: #3949ab;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    padding-top: 52px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.pricing__title,
.price {
    margin: 0;
}

.pricing__title {
    margin-bottom: 8px;
    font-size: 25px;
}

.text__item {
    margin-bottom: 15px;
}

.price {
    position: relative;
    font-size: 50px;
}

.month {
    font-size: 15px;
}

.price::before {
    content: '$';
    font-size: 25px;
    /* display: block; */
    position: absolute;
    top: 6px;
    left: 100px;
    transform: translatex(-50%);
    width: 22px;
    height: 11px;
}

.pricing__text {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 66px;
}

.text {
    margin: 0;
    font-size: 17px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.text::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 14px;
    width: 177px;
    border: 1px solid #bfbfbf;
}

.order_button {
    width: 180px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid #000;
    font-family: 'OPen Sans';
    font-size: 20px;
    color: #898989;
    padding-top: 22px;
    padding-bottom: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.pricing__item:hover .order_button {
    color: #fff;
    background-color: #00897b;
    border: 1px solid #00897b;
}

.pricing__item:hover {
    box-shadow: 0 0 25px 3px #343434;
}

/* section team  */
.team {
    padding-top: 122px;
    padding-bottom: 124px;
}

.team__title,
.team__subitle {
    margin: 0;
    text-align: center;
}

.team__title {
    margin-bottom: 36px;
    font-size: 30px;
    font-weight: 600;
}

.team__subitle {
    width: 622px;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 124px;
}

.member_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.member_item {
    width: 370px;
    text-align: center;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.member_wrap {
    margin-bottom: 40px;
    transition: transform 0.2s;
}

.name,
.desc {
    margin: 0;
}

.name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.desc {
    font-size: 12px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.soc_icon {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.soc_item {}

.soc_item:not(:last-child) {
    margin-right: 22px;
}

.soc_link {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #f0f1f1;
}

.soc_link:hover {
    background-color: #3949ab;
}

.svg_icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    fill: #00897b;
    width: 30px;
    height: 30px;
}

.soc_link:hover .svg_icon {
    fill: #fff;
}

.radio_wrap {
    text-align: center;
}

/* Hide original inputs */
input[type=radio] {
    visibility: hidden;
    position: absolute;
}

input[type=radio]+label:before {
    height: 15px;
    width: 15px;
    margin-right: 2px;
    content: " ";
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid #777;
}

input[type=radio]:checked+label:before {
    background: #3949ab;
}

input[type=radio]+label:before {
    border-radius: 50%;
    background-color: #00897b;
}

/* section blog */
.blog {
    background-color: #e4fdf9;
    padding-top: 130px;
    padding-bottom: 124px;
}

.blog_title,
.blog_subtitle {
    margin: 0;
    text-align: center;
}

.blog_title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 33px;
}

.blog_subtitle {
    margin: 0 auto;
    font-size: 15px;
    width: 670px;
    margin-bottom: 130px;
}

.blog_list {
    margin-bottom: 120px;
}

.blog_item {
    display: flex;
    flex: 0 0 1170;
    justify-content: space-between;
    box-shadow: 0 0 10px 1px rgba(202, 224, 221, 0.377);
    flex-direction: row;
}

.blog_item:nth-child(2n) {
    flex-direction: row-reverse;
}

.blog_photo {
    width: 570px;
}

.blog_desc {
    width: 600px;
    padding-top: 58px;
    padding-left: 30px;
    padding-right: 126px;
}

.desc_title {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.form_wrap {
    display: flex;
    margin-bottom: 36px;
}

.icon_blog::before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.date,
.develop {
    font-size: 17px;
    font-weight: 600;
    color: #212121;
}

.date {
    margin-right: 40px;
}

.date::before {
    background-image: url(../img/icon/icon_calendar.png);
}

.develop {}

.develop::before {
    background-image: url(../img/icon/icon_file.png);
}


.description {
    margin: 0;
}

.blog_button_more {
    display: block;
    margin: 0 auto;
    width: 220px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
    border: none;
    background-color: #00897b;
    cursor: pointer;
}

.blog_item:hover {
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.3);
}

.blog_item:hover .desc_title {
    color: #00897b;
}

.blog_button_more:hover {
    border-radius: 6px;
    transform: scale(1.03);
}

/* section contact */
.contact {
    background-image: url(../img/bg_contact.png);
    padding-top: 122px;
    padding-bottom: 110px;
    background-size: cover;
    background-position: center;
}

.contact_title,
.contact_subtitle {
    margin: 0;
    text-align: center;
    color: #fff;
}

.contact_title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}

.contact_subtitle {
    margin: 0 auto;
    width: 620px;
    font-size: 15px;
    margin-bottom: 60px;
}

.adress_list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.adress_item {
    flex: 0 0 330px;
}

.adress_item::before {
    content: '';
    width: 106px;
    height: 106px;
    display: block;
    background-color: #3949ab;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.adress_p {
    text-align: center;
    margin: 0;
    color: #fff;
}

.icon_placeholder::before {
    background-image: url(../img/icon_contact/placeholder_1.png);
}

.icon_phone::before {
    background-image: url(../img/icon_contact/phone-call.png);
}

.icon_mail::before {
    background-image: url(../img/icon_contact/mail.png);
}

.contact_form {
    width: 1030px;
    margin: 0 auto;
}

.form_wrap {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
}

.contact_form input {
    font-family: 'montserrat';
    font-size: 20px;
    height: 52px;
    border-radius: 9px;
    padding: 22px 0;
    padding-left: 8px;
    width: 500px;
}

input:placeholder-shown,
textarea:placeholder-shown {
    text-transform: uppercase;
    font-size: 12px;
}

.contact_form input:focus {
    outline: 0;
    border: 1px solid #757575;
    box-shadow: 0 0 2px 1px rgba(158, 158, 158, 0.2);
}

.contact_form input:valid {
    border-bottom: 2px solid rgba(0, 255, 0, 0.5);
    box-shadow: 0 0 20px 1px rgb(0, 255, 0, 0.2);
}

.contact_form input:invalid {
    border-bottom: 2px solid rgba(255, 0, 0, 0.7);
    box-shadow: 0 0 15px 1px rgba(255, 0, 0, 0.2);
}

.contact_form textarea {
    font-family: 'montserrat';
    font-size: 14px;
    width: 1030px;
    height: 324px;
    padding: 16px;
    resize: none;
    border: 2px solid #cccccc;
    border-radius: 9px;
    margin-bottom: 40px;
}

.contact_form textarea:focus {
    outline: 0;
    border: 2px solid #757575;
}

.contact_form textarea:valid {
    border-bottom: 2px solid rgba(0, 255, 0, 0.7);
    box-shadow: 0 0 15px 1px rgba(0, 255, 0, 0.2);
}

.contact_form textarea:invalid {
    border-bottom: 2px solid rgba(255, 0, 0, 0.7);
    box-shadow: 0 0 15px 1px rgba(255, 0, 0, 0.2);
}

.send_button {
    display: block;
    margin-left: auto; 
    width: 220px;
    background-color: #fff;
    border: 0;
    border-radius: 9px;
    padding: 22px 0;
    font-family: 'montserrat';
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
}

/* footer*/
.footer {
    padding: 26px 0;
    text-align: center;
}

.footer_copy {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 900;
    color: #191919;
    font-size: 20px;
}